<table class="table tabel-striped" id="tenants-datatable" data-source="<%= tenants_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>