<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://www.patacommeal.co.ke" class="simple-text logo-normal">
                  Pata Commeal
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active ">
                        <a class="nav-link" href="#">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="../landlords">
                            <i class="material-icons">account_circle</i>
                            <p>Landlords</p>
                        </a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="../properties">
                            <i class="material-icons">content_paste</i>
                            <p>Properties</p>
                        </a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link" href="../tenants">
                            <i class="material-icons">library_books</i>
                            <p>Tenants</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="../transactions">
                            <i class="material-icons">bubble_chart</i>
                            <p>Transactions</p>
                        </a>
                    </li>
              
                   
                </ul>
            </div>
        </div>